.displayAdd{
    width: 100%;
}
.addingElements{
    display: flex;
    justify-content: center;
    gap: 3rem;
    width: 100%;
}
form{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 2rem;
    width: 100%;
}
input{
    width: 100%;
    height: 2rem;
    padding: 0.5rem;
}
.elementName, .elementCost{
    display: flex;
    width: 40%;
    justify-content: center;
    flex-direction: column;
}
button{
    height: 2rem;
    padding: 0 1rem;
}